nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    cursor: pointer;
    background: transparent;
    border: 2px solid rgb(204, 204, 204);
    padding: .5rem;
    transition: all .3s ease;
    color: rgb(223, 223, 223);
    &:hover {
      background: rgb(223, 223, 223);
      color: rgb(65, 65, 65);
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button{
      z-index: 100;
    }
  }
}