* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #232323;
}

h1, h2, h3 {
  color: rgb(204, 204, 204)
}

h3, h4{
  font-weight: 400;
  color: rgb(223, 223, 223);
}

p {
  color: rgb(223, 223, 223);
}

.App {
  transition: all .5s ease;
}

.library-active {
  margin-left: 36%;
}

@import './player';
@import './song';
@import './library';
@import './nav';